{% extends 'AppBundle::base-admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {#
  {% stylesheets
  'bundles/plusnaomain/css/sales_ranking.css' filter='cssrewrite'
  %}
  <link href="{{ asset_url }}" rel="stylesheet" />
  {% endstylesheets %}
  #}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
  '@AppBundle/Resources/public/js/app.real-shop-return-goods.js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}

  <script type="text/javascript">
    var RETURN_GOODS_DATA = {{ returnReportJson | raw }};
  </script>

  <div id="realShopReturnGoods" class="container">

    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>実店舗 返品リスト詳細</h2>
        </div>
      </div>

      <div id="globalMessage" data-loading-image-url="{{ asset('img/loading.gif') }}" v-show="message && message.length > 0">
        <div class="alert" v-bind:class="messageCssClass" v-text="message"></div>
      </div>
    </div>

    {% for type, flashMessages in app.session.flashbag.all() %}
      {% if type in ['info', 'success', 'notice', 'warning', 'danger'] %}
        <div>
          {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
              {{ flashMessage }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}

    <div id="realShopReturnGoodsTable"
         data-submit-import-url="{{ path('real_shop_return_goods_submit_import', { date: returnDate, number: number }) }}"
         data-report-list-url="{{ path('real_shop_return_goods_list') }}"
      >

      {# 確定ボタン #}
      <div class="clearfix mb10">
        <a href="{{ path('real_shop_return_goods_list') }}" class="btn btn-default pull-left">一覧</a>

        <button class="btn btn-primary pull-right" v-on:click="submitImport">返品確定</button>
      </div>

      {# 絞込フォーム #}
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-inline inlineBlock" role="form">
            <div class="form-group mr5 mb5">
              <input class="form-control" placeholder="商品コード" type="text" v-model="filterSyohinCode">
            </div>
          </form>
        </div>
      </div>

      <table class="table table-bordered table-condensed">
        <tr class="text-center">
          <th class="col-xs-6">商品コード</th>
          {#<th class="col-xs-6">ラベル種別</th>#}
          <th class="col-xs-6">返品数</th>
          {#<th class="col-xs-2">編集</th>#}
        </tr>

        <tr v-for="item in filteredList"
            is="result-item"
            :item="item"
          ></tr>
      </table>

    </div>

  </div>

  {# テーブル行テンプレート #}
  <script type="text/x-template" id="templateRealShopReturnGoodsTableRow">
    <tr>
      <td class="vMiddle" v-text="item.neSyohinSyohinCode"></td>
      {#<td class="vMiddle text-center">#}
        {#<i class="fa" v-bind:class="labelTypeIconCss"></i>#}
        {#<span v-text="displayLabelType"></span>#}
      {#</td>#}
      <td class="text-center vMiddle">
        <input v-if="inEdit" type="number" v-model="moveNum" class="form-control text-right">
        <span v-text="item.moveNum" v-else></span>
      </td>
      {#<td class="text-center vMiddle">#}
        {#<template v-if="inEdit">#}
          {#<button class="btn btn-sm btn-primary" v-on:click="save">保存</button>#}
          {#<button class="btn btn-sm btn-default" v-on:click="editOff">キャンセル</button>#}
        {#</template>#}
        {#<template v-else>#}
          {#<button class="btn btn-sm btn-default" v-on:click="editOn">編集</button>#}
        {#</template>#}
      {#</td>#}
    </tr>
  </script>

{% endblock %}
