{% extends 'AppBundle::base-admin.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  {%  stylesheets
    'bundles/app/vendor/datepicker/css/bootstrap-datepicker.css' filter='cssrewrite'
    'bundles/app/vendor/bootstrap-select/css/bootstrap-select.min.css' filter='cssrewrite'
    'bundles/app/css/app.product-edit-ng-word.css' filter='cssrewrite'
  %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
  {% endstylesheets %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {# pagination コンポーネント#}
  {% include 'AppBundle::parts/pagination.html.twig' %}
  {% javascripts
    '@AppBundle/Resources/public/vendor/datepicker/js/bootstrap-datepicker.js'
    '@AppBundle/Resources/public/vendor/datepicker/locales/bootstrap-datepicker.ja.min.js'
    '@AppBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
    '@AppBundle/Resources/public/js/app.product-edit-ng-word.js'
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}
  <div id="product_ng_word_list" class="container"
    data-index-url="{{ path('product_edit_ng_word_index') }}"
    data-search-url="{{ path('product_edit_ng_word_search') }}"
    data-create-url="{{ path('product_edit_ng_word_create') }}"
    data-update-url="{{ path('product_edit_ng_word_update') }}"
    data-delete-url="{{ path('product_edit_ng_word_delete') }}"
  >
    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>Ngワード一覧</h2>
        </div>
      </div>

      {# global-message コンポーネント #}
      <div is="parts-global-message" :state="messageState"></div>
    </div>

    {# 検索フォーム #}
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row row-eq-height">
          <div class="form-inline col-sm-6">
            <label for="content" class="mr10">NGワード：</label>
            <input
              id="content"
              type="text"
              class="form-control w200"
              v-model="content"
              @keyup.enter="search(true)"
            >
            <button
              type="button"
              class="btn btn-success"
              @click="create(true)"
            >
              追加
            </button>
          </div>
          <div class="form-inline col-sm-6">
            <label for="keyword" class="mr10">キーワード：</label>
            <input
              id="keyword"
              type="text"
              class="form-control w200"
              v-model="keyword"
              @keyup.enter="search(true)"
            >
            <button
              type="button"
              class="btn btn-success"
              @click="search(true)"
            >
              検索
            </button>
          </div>
        </div>
      </div>
    </div>

    {# 結果 #}
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="d-flex flexEnd">
          {# pagination (Vue component) #}
          <parts-table-pagination
            v-bind="paginationObj"
            @change-page="changePage"
            class="flex3"
          >
          </parts-table-pagination>
        </div>
        <div class="row">
          <div class="col-md-6">
            <table class="table table-bordered odd-bg-smoke">
              <tr>
                <th
                  class="text-center"
                >
                  No
                </th>
                <th
                  class="cursorPointer text-center"
                  :class="addSortArrow('content')"
                  @click="sortBy('content')"
                >
                  NGワード
                </th>
                <th class="text-center">編集</th>
              </tr>
              <tr v-for="(item, index) in list.slice(0, list_half_count)" :key="index" v-cloak>
                <td class="text-center" v-text="index + base_num + 1"></td>
                <td>
                  <input
                    :disabled="item.edit != true"
                    type="text"
                    class="form-control"
                    v-model="item.content"
                  ></inpu>
                </td>
                <td class="text-center">
                  <template v-if="item.edit == true">
                    <a @click="update(index)" class="btn btn-sm btn-success ml-2"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                  </template>
                  <template v-else>
                    <a @click="edit(index)" class="btn btn-sm btn-primary ml-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a @click="remove(index)" class="btn btn-sm btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </template>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-bordered odd-bg-smoke">
              <tr>
                <th
                  class="text-center"
                >
                  No
                </th>
                <th
                  class="cursorPointer text-center"
                  :class="addSortArrow('content')"
                  @click="sortBy('content')"
                >
                  NGワード
                </th>
                <th class="text-center">編集</th>
              </tr>
              <tr v-for="(item, index) in list.slice(list_half_count)" :key="index" v-cloak>
                <td class="text-center" v-text="index + list_half_count + base_num + 1"></td>
                <td>
                  <input
                    :disabled="item.edit != true"
                    type="text"
                    class="form-control"
                    v-model="item.content"
                  ></inpu>
                </td>
                <td class="text-center">
                  <template v-if="item.edit == true">
                    <a @click="update(index + list_half_count)" class="btn btn-sm btn-success ml-2"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                  </template>
                  <template v-else>
                    <a @click="edit(index + list_half_count)" class="btn btn-sm btn-primary ml-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a @click="remove(index + list_half_count)" class="btn btn-sm btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </template>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
