{% extends 'AppBundle:Location:base.html.twig' %}

{% block javascripts %}
  {% set useVue100 = true %}{# Vue.js 1.0 利用 #}
  {{ parent() }}
  {% javascripts '@AppBundle/Resources/public/js/app.location-warehouse-from.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block headerTitle %}倉庫から ロケーション一覧{% endblock %}

{% block headerButtons %}
  <a class="btn btn-sm btn-default" href="{{ path('location_warehouse_from') }}">
    倉庫から 商品一覧
  </a>
{% endblock %}

{% block contents %}

  <div class="row row10 mb10" id="recalculateFromForm"
       data-url="{{ path('location_warehouse_from_recalculate', {'back' : 'location_list'}) }}"
      >
    <div class="col-xs-7">
      <span>最終更新：</span><br>
      <span>{% if lastUpdated %}{{ lastUpdated.format('Y/m/d H:i:s') }}{% else %}--{% endif %}</span>
    </div>

    <div class="col-xs-5">
      <button class="btn btn-default fullWidth" v-on:click="recalculate">
        <i class="fa fa-calculator"></i>
        再集計
      </button>
    </div>
  </div>

  {% if pagination.count() > 0 %}
    <div>

      <div class="navigation text-right">
        <p class="paginationInfo">
          {{ paginationInfo.firstItemNumber | number_format }} - {{ paginationInfo.lastItemNumber | number_format }}
          /
          {{ paginationInfo.totalCount | number_format }}
        </p>
        {{ knp_pagination_render(pagination) }}
      </div>

      <table class="table" id="warehouseList">
        {% for location in pagination.getItems() %}
          <tr>
            <td class="col-xs-6">
              <a href="{{ path('location_location_detail', { 'locationId' : location.getId() }) }}">
                <span class="bold bigger">
                {{ location.getLocationCode() }}
                </span>
              </a>
            </td>
            <td class="col-xs-6 text-center">
              <table class="table table-condensed borderless mb0">
                {% for stock in location.getStockList() %}
                  <tr>
                    <th class="col-xs-10 text-right">
                      <a href="{{ path('location_product_detail', { 'syohinCode' : stock.code }) }}">
                        {{ stock.code }}
                      </a>
                    </th>
                    <td class="col-xs-2 text-right">{{ stock.stock }}</td>
                  </tr>
                {%  endfor %}
              </table>
            </td>
          </tr>
        {% endfor %}

      </table>

      <div class="navigation text-right">
        <p class="paginationInfo">
          {{ paginationInfo.firstItemNumber | number_format }} - {{ paginationInfo.lastItemNumber | number_format }}
          /
          {{ paginationInfo.totalCount | number_format }}
        </p>
        {{ knp_pagination_render(pagination) }}
      </div>

    </div>
  {% else %}
    <div id="warehouseList" class="alert alert-warning">データがありません。</div>
  {% endif %}

{% endblock %}
