{% extends 'AppBundle::base-admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets
    'bundles/app/css/app.logistics-purchase-list.css' filter='cssrewrite'
  %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link href="{{ asset_url }}" rel="stylesheet" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {# pagination コンポーネント#}
  {% include 'AppBundle::parts/pagination.html.twig' %}

  {% javascripts
  '@AppBundle/Resources/public/vendor/js/fixed_midashi.js'
  '@AppBundle/Resources/public/js/app.logistics-purchase-list-light.js'
  %}
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}

  <div id="purchaseList" class="container"
      data-list-url="{{ path('logistics_purchase_list_find') }}"
      data-submit-url="{{ path('logistics_purchase_list_submit_light') }}"
      data-current-warehouse-id="{{ account.getWarehouseId() }}"
      data-download-url-base="{{ path('logistics_purchase_list_download_xls') }}"
      data-queue-job-list-url="{{ path('queue_job_list') }}"
    >

    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>仕入・注残一覧</h2>
        </div>
      </div>

      {# global-message コンポーネント #}
      <div is="parts-global-message" :state="messageState"></div>
    </div>

    {# Flash メッセージ #}
    {% include 'AppBundle::parts/flash-message.html.twig' %}

    {# main #}
    <div>

      {# 絞込 #}
      <div class="panel panel-default mb10">
        <div class="panel-body">
          <div class="form-inline">
            <div class="form-group mr10 mb10">
              <label class="sr-only" for="searchOrderNumber">発注伝票番号</label>
              <input type="text" class="form-control" id="searchOrderNumber" placeholder="発注伝票番号"
                     v-model="searchConditions.orderNumber"
                     v-on:change="search"
                     v-on:keypress.enter="leaveWhile($event)"
                >
            </div>

            <div class="form-group mr10 mb10">
              <label class="sr-only" for="searchShippingNumber">発送番号</label>

              <div class="input-group" id="searchShippingNumber">
                <input type="text" class="form-control" id="searchShippingNumber" placeholder="発送番号"
                       v-model="searchConditions.shippingNumber"
                       v-on:change="search"
                       v-on:keypress.enter="leaveWhile($event)"
                  >
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" v-on:click="toggleSearchShippingNumberMode">
                    <span v-if="searchConditions.shippingNumberMode == 'partial'">部分</span>
                    <span v-else>完全</span>
                  </button>
                </span>
              </div>
            </div>

            <div class="form-group mr10 mb10">
              <label class="sr-only" for="searchSyohinCode">商品コード</label>
              <input type="text" class="form-control" id="searchSyohinCode" placeholder="商品コード"
                     v-model="searchConditions.syohinCode"
                     v-on:change="search"
                     v-on:keypress.enter="leaveWhile($event)"
                >
            </div>

            <div class="form-group mr10 mb10">
              <label for="searchRemainNum">注残数</label>
              <input type="text" class="form-control text-right w80" id="searchRemainNum" number
                     v-model="searchConditions.remainNum"
                     v-on:change="search"
                     v-on:keypress.enter="leaveWhile($event)"
                >
              <span>以上</span>
            </div>
          </div>

          <div class="form-inline">
            <div class="form-group mr10 mb10">
              <label for="searchSireCode">仕入先</label>
              <select class="form-control w150" id="searchSireCode"
                      v-model="searchConditions.sireCode"
                      v-on:change="search"
                >
                <option value=""></option>
                <option v-for="vendor in vendorList" v-bind:value="vendor.sireCode" v-text="vendor.sireName"></option>
              </select>
            </div>

            <div class="form-group mr10 mb10">
              <label for="searchAgentCode">依頼先</label>
              <select class="form-control" id="searchAgentCode"
                      v-model="searchConditions.agentCode"
                      v-on:change="search"
                >
                <option value=""></option>
                <option v-for="agent in agentList" v-bind:value="agent.id" v-text="agent.name"></option>
              </select>
            </div>

            <div class="form-group mr10 mb10">
              <label for="searchAgentStatus">依頼先状態</label>
              <select class="form-control" id="searchAgentStatus"
                      v-model="searchConditions.agentStatus"
                      v-on:change="search"
                >
                <option value=""></option>
                {% for code, status in statuses %}
                  <option value="{{ code }}">{{ status }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group mr10 mb10">
              <label for="searchShippingType">発送種別</label>
              <select class="form-control" id="searchShippingType"
                      v-model="searchConditions.shippingType"
                      v-on:change="search"
                >
                <option value=""></option>
                <option value="1">エア</option>
                <option value="2">コンテナ</option>
              </select>
            </div>

            <div class="form-group mr10 mb10">
              <label class="sr-only" for="searchComment">備考</label>
              <input type="text" class="form-control" id="searchComment" placeholder="備考"
                     v-model="searchConditions.comment"
                     v-on:change="search"
                     v-on:keypress.enter="leaveWhile($event)"
                >
            </div>

            <div class="form-group mr10 mb10">
              <button class="btn btn-info mr10" v-on:click="search">絞込</button>
              <button class="btn btn-default" v-on:click="resetSearchConditions">クリア</button>
            </div>
          </div>

        </div>

        {% if is_granted('ROLE_DELIVERY_MANAGER') %}
        <div class="panel-footer text-right">
          <div class="inlineBlock mr10">
            <select class="form-control" v-model="warehouseId">
              {% for warehouse in warehouses %}
                <option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="inlineBlock w150 mr10">
            <input type="text" class="form-control" placeholder="ロケーション" v-model="locationPrefix">
          </div>
          <div class="inlineBlock mr10">
            <select class="form-control" v-model="submitMode">
              {#<option value=""></option>#}
              <option value="regular">良品</option>
              <option value="shortage">欠品</option>
            </select>
          </div>
          <button v-bind:class="submitButtonCss" class="btn mr10" v-on:click="submitInput" v-bind:disabled="submitButtonDisabled">入力確定</button>
        </div>
        {% endif %}
      </div>

      {# pagination (Vue component) #}
      <div
          is="parts-table-pagination"
          :init-page-item-num="pageItemNum"
          :init-page-item-num-list="pageItemNumList"
          :item-num="totalItemNum"
          :page="page"
          v-on:change-page="showPage"
      >
        <a slot="left-part" class="btn btn-sm btn-success"
           v-bind:href="downloadUrl"
           download="purchasing_order.xls">
          <i class="fa fa-file-excel-o"></i>
          ダウンロード
        </a>
      </div>

      <div class="scrollTableDiv">
        <table class="listTable" _fixedhead="rows:1; div-full-mode:yes;">
          <tr>
            <th class="sortable cursorPointer" v-bind:class="getSortMarkCssClass('orderNumber')" v-on:click="toggleOrder('orderNumber')">発番</th>
            <th class="sortable cursorPointer" v-bind:class="getSortMarkCssClass('sireName')" v-on:click="toggleOrder('sireName')">仕入先</th>
            <th class="sortable cursorPointer" v-bind:class="getSortMarkCssClass('deliveryDate')" v-on:click="toggleOrder('deliveryDate')">予定納期</th>
            <th class="sortable cursorPointer" v-bind:class="getSortMarkCssClass('syohinCode')" v-on:click="toggleOrder('syohinCode')">商品コード</th>
            <th>発</th>
            <th>良</th>
            <th>暫</th>
            <th>欠</th>
            <th class="sortable cursorPointer" v-bind:class="getSortMarkCssClass('remainNum')" v-on:click="toggleOrder('remainNum')">残</th>
            <th>備考</th>
            <th>単価</th>
            <th>依頼先</th>
            <th>依頼先状態</th>
            <th>横補助</th>
            <th>縦補助</th>
            <th>連絡事項</th>
            <th>発送種別</th>
            <th>発送番号</th>
          </tr>

          <tr v-for="(item, index) in pageData"
              is="result-item"
              :item="item"
              :index="index"
            ></tr>

        </table>
      </div>

    </div>

  </div>

  {# テーブル行テンプレート #}
  <script type="text/x-template" id="templateLogisticsPurchaseListTableRow">
    <tr class="text-center">
      <td class="orderNumber" v-text="item.orderNumber"></td>
      <td class="sireName" v-text="item.sireName" v-bind:title="item.sireName"></td>
      <td class="deliveryDate" v-text="displayDeliveryDate"></td>
      <td class="syohinCode" v-text="item.syohinCode"></td>
      <td class="orderNum" v-text="item.orderNum"></td>
      <td class="regularNum" v-text="item.regularNum"></td>
      <td class="defectiveNum" v-text="item.defectiveNum"></td>
      <td class="shortageNum" v-text="item.shortageNum"></td>
      <td class="remainNum" v-text="item.remainNum"></td>
      <td class="comment" v-text="item.comment"></td>
      <td class="quantityPrice" v-text="displayQuantityPrice"></td>
      <td class="agentName" v-text="item.agentName" v-bind:title="item.agentName"></td>
      <td class="agentStatus" v-text="item.agentStatus"></td>
      <td class="supportColName" v-text="item.supportColName"></td>
      <td class="supportRowName" v-text="item.supportRowName"></td>
      <td class="vendorComment" v-text="item.vendorComment" v-bind:title="item.vendorComment"></td>
      <td class="shippingType" v-text="item.shippingTypeString"></td>
      <td class="shippingNumber" v-text="item.shippingNumber"></td>
    </tr>
  </script>

  <div id="dl" style="display:none;">
    <p>実行中のキューが存在しています。キューを入れますか？</p>
  </div>

{% endblock %}
