{% extends 'AppBundle::base-admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets
    'bundles/app/vendor/datepicker/css/bootstrap-datepicker.css' filter='cssrewrite'
  %}
  <link href="{{ asset_url }}" rel="stylesheet" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '@AppBundle/Resources/public/vendor/datepicker/js/bootstrap-datepicker.js'
    '@AppBundle/Resources/public/vendor/datepicker/locales/bootstrap-datepicker.ja.min.js'
    '@AppBundle/Resources/public/js/app.product-sales-account.js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}


{% block body %}
  <div id="productSalesAccount" class="container"
    data-search-url="{{ path('product_sales_account_find') }}"
    data-change-url="{{ path('product_sales_account_change') }}"
    data-delete-url="{{ path('product_sales_account_delete') }}"
    data-restore-url="{{ path('product_sales_account_restore') }}"
    data-history-url="{{ path('product_sales_account_history') }}"
    data-add-url="{{ path('product_sales_add_account') }}"
    data-sales-account-url="{{ path('product_sales_account') }}"
  >

    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>商品売上担当者一覧画面</h2>
        </div>
      </div>

      {# global-message コンポーネント #}
      <div is="parts-global-message" :state="messageState"></div>
    </div>

    <div class="form-inline clearfix mb10 mt10">
      <div class="form-group pull-left mr10">
        <span class="mr10">代表商品コード：</span>
        <input type="text" class="form-control w300" v-model="daihyoSyohinCode"/>
      </div>
      <div class="form-group pull-left mr10">
        <button type="button" class="btn btn-success" @click="searchAccount">検索</button>
      </div>
    </div>

    <div class="pull-right">
      <a class="cursorPointer" @click="goToAccountHistory">
        売上担当者更新履歴へ
      </a>
    </div>

    <div v-if="product !== null">
      <div class="mt20 mb20">
        <div class="row">
          <div class="col-xs-2">
            <img :src="product.imageUrl" class="img-responsive" style="min-height: 120px;">
          </div>
          <div class="col-xs-10">
            <div class="h4 bold my-1" v-text="product.daihyoSyohinCode"></div>
            <div class="my-1" v-text="product.daihyoSyohinName"></div>
          </div>
        </div>
      </div>

      <div class="row mb10 text-right">
        <div class="col-xs-9 pull-left">
          <div class="input-group date w200 pull-left mr10 mb5">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <input
              @mouseover.once="createFilterDatepicker('#applyDateFrom')"
              v-model="filterItem.applyDateFrom"
              name="applyDateFrom"
              id="applyDateFrom"
              class="form-control filter"
              size="10"
              type="text"
              placeholder="From"
            >
          </div>
          <div class="inputHeight text-center pull-left mr10 mb5">～</div>
          <div class="input-group date w200 pull-left mr10 mb5">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <input
              @mouseover.once="createFilterDatepicker('#applyDateTo')"
              v-model="filterItem.applyDateTo"
              name="applyDateTo"
              id="applyDateTo"
              class="form-control filter"
              size="10"
              type="text"
              placeholder="To"
            >
          </div>
          <div class="inputHeight pull-left mr10">期間内に有効日のある担当者情報に</div>
          <div class="btn-group pull-left">
            <button
              v-for="type in typeList"
              class="btn"
              :id="type.id"
              :class="(type.id === selectType) ? 'btn-info active' : 'btn-default'"
              @click="filterAccount(type.id)"
              v-text="type.name"
            ></button>
          </div>
        </div>
        <div class="col-xs-3 pull-right">
          <div class="col-xs-6">
            <button type="button" class="btn btn-primary" @click="goToAddAccount(product.daihyoSyohinCode)">追加</button>
          </div>
          <div class="col-xs-6" v-if="list.length > 0">
            <button
              type="button"
              class="btn btn-warning"
              data-toggle="modal"
              data-target="#changeAccountInfoModal"
              data-backdrop="static"
              data-keyboard="false"
              @click="openChangeAccountInfoModal"
            >
              変更
            </button>
          </div>
        </div>
      </div>

      <table class="mt40 table table-bordered">
        <tr>
          <th class="vMiddle">登録日</th>
          <th class="vMiddle">適用日</th>
          <th class="vMiddle">担当者名</th>
          <th class="vMiddle">チーム名</th>
          <th class="vMiddle">タスク種別</th>
          <th class="vMiddle">詳細</th>
          <th class="vMiddle">仕事量</th>
          <th class="vMiddle">概算%(現在時点)</th>
          <th class="vMiddle">削除</th>
          <th class="vMiddle">更新日</th>
        </tr>
        <tr v-for="(item, index) in list"
            is="result-item"
            :item="item"
            :index="index">
        </tr>
      </table>
    </div>

    {# モーダル#}
    <div class="modal fade" id="changeAccountInfoModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">&times;</button>
            <h4 class="modal-title">商品売上担当者情報変更</h4>
          </div>
          <div class="modal-body">
            <parts-global-message :state="modalMessageState"></parts-global-message>
            {# 変更FORM #}
            <table class="table table-bordered table-condensed scroll-table">
              <tr>
                <th class="vMiddle">登録日</th>
                <th class="vMiddle">適用日</th>
                <th class="vMiddle">担当者名</th>
                <th class="vMiddle">チーム名</th>
                <th class="vMiddle">タスク種別</th>
                <th class="vMiddle">詳細</th>
                <th class="vMiddle">仕事量</th>
                <th class="vMiddle">ステータス</th>
                <th class="vMiddle">更新日</th>
              </tr>
              <tr v-for="(item, index) in modalList" :class="item.status === 1 ? '': 'shadow'">
                <td class="vMiddle" v-text="item.created"></td>
                <td class="vMiddle">
                  <div class="form-inline" v-if="item.status === 1">
                    <input
                      type="text"
                      name="applyStartDate"
                      v-model="item.applyStartDate"
                      class="form-group form-control input-sm w100 datepicker"
                      :data-index="index"
                    />
                    ～
                    <input
                      type="text"
                      name="applyEndDate"
                      v-model="item.applyEndDate"
                      class="form-group form-control input-sm w100 datepicker"
                      :data-index="index"
                    />
                  </div>
                  <div v-else>
                    <span class="p10" v-text="item.applyStartDate"></span>
                    ～
                    <span class="p10" v-text="item.applyEndDate"></span>
                  </div>
                </td>
                <td class="vMiddle" v-text="item.userName"></td>
                <td class="vMiddle" v-text="item.teamName"></td>
                <td class="vMiddle" v-text="item.taskName"></td>

                <td class="vMiddle" v-if="item.status === 1">
                  <input type="text" v-model="item.detail" class="form-control input-sm w200">
                </td>
                <td class="vMiddle" v-text="item.detail" v-else></td>
                <td class="vMiddle" v-if="item.status === 1">
                  <input type="number" step="0.1" v-model="item.workAmount" class="form-control input-sm w80">
                </td>
                <td class="vMiddle" v-text="item.workAmount" v-else></td>
                <td class="vMiddle" v-text="item.status === 1 ? '' : '削除'"></td>
                <td class="vMiddle" v-text="item.updated"></td>
              </tr>
            </table>
            {# 反映結果 #}
            <div v-if="modalReflectList.length > 0">
              <h2>反映結果</h2>
              <table class="table table-bordered table-condensed scroll-table">
              <tr>
                <th class="vMiddle">登録日</th>
                <th class="vMiddle">適用日</th>
                <th class="vMiddle">担当者名</th>
                <th class="vMiddle">チーム名</th>
                <th class="vMiddle">タスク種別</th>
                <th class="vMiddle">詳細</th>
                <th class="vMiddle">仕事量</th>
                <th class="vMiddle">概算%(現在時点)</th>
                <th class="vMiddle">ステータス</th>
                <th class="vMiddle">更新日</th>
              </tr>
              <tr v-for="item in modalReflectList" :class="item.status === 1 ? '': 'shadow'">
                <td class="vMiddle" v-text="item.created"></td>
                <td class="vMiddle">
                  <div>
                    <span class="p10" v-text="item.applyStartDate"></span>
                    ～
                    <span class="p10" v-text="item.applyEndDate"></span>
                  </div>
                </td>
                <td class="vMiddle" v-text="item.userName"></td>
                <td class="vMiddle" v-text="item.teamName"></td>
                <td class="vMiddle" v-text="item.taskName"></td>

                <td class="vMiddle" v-text="item.detail"></td>
                <td class="vMiddle" v-text="item.workAmount"></td>
                <td class="vMiddle" v-text="item.status === 1 ? item.approximate : '-'"></td>
                <td class="vMiddle" v-text="item.status === 1 ? '' : '削除'"></td>
                <td class="vMiddle" v-text="item.updated"></td>
              </tr>
            </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" @click="reflect">反映確認</button>
            <button type="button" class="btn btn-primary" v-if="modalReflectList.length > 0" @click="onSubmit">確定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# テーブル行テンプレート #}
  <script type="text/x-template" id="templateProductSalesAccountListTableRow">
    <tr>
      <td class="vMiddle" v-text="item.created"></td>
      <td class="vMiddle">
        <div>
          <span class="p10" v-text="item.applyStartDate"></span>
          ～
          <span class="p10" v-text="item.applyEndDate"></span>
        </div>
      </td>
      <td class="vMiddle" v-text="item.userName"></td>
      <td class="vMiddle" v-text="item.teamName"></td>
      <td class="vMiddle" v-text="item.taskName"></td>
      <td class="vMiddle" v-text="item.detail"></td>
      <td class="vMiddle" v-text="item.workAmount"></td>
      <template v-if="item.status === 1">
        <td class="vMiddle" v-text="item.approximate"></td>
        <td class="vMiddle">
          <button type="button" class="btn btn-xs btn-danger" @click="deleteAccount">削除</button>
        </td>
      </template>
      <template v-else>
        <td class="vMiddle">-</td>
        <td class="vMiddle">
          <button type="button" class="btn btn-xs btn-warning" @click="restoreAccount">戻す</button>
        </td>
      </template>
      <td class="vMiddle" v-text="item.updated"></td>
    </tr>
  </script>
{% endblock %}
