{% extends 'AppBundle::base-admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {#
  {% stylesheets
  'bundles/plusnaomain/css/sales_ranking.css' filter='cssrewrite'
  %}
  <link href="{{ asset_url }}" rel="stylesheet" />
  {% endstylesheets %}
  #}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {# pagination コンポーネント#}
  {% include 'AppBundle::parts/pagination.html.twig' %}

  {% javascripts
  '@AppBundle/Resources/public/js/app.set-product-required-list.js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}

  <script type="text/javascript">
    const SET_PRODUCT_REQUIRED_LIST_DATA = {{ productsJson|raw }};
  </script>


  <div id="setProductRequiredList" class="container"
      data-create-url="{{ path('set_product_add_create_list') }}"
    >

    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>セット商品 作成対象一覧</h2>
        </div>

        <div class="pull-right mt20">
          <a class="btn btn-default" href="{{ path('set_product_list') }}">セット商品一覧</a>
          <a class="btn btn-default" href="{{ path('picking_set_product_create_list') }}" target="mobile-site">作成リスト</a>
        </div>
      </div>

      {# global-message コンポーネント #}
      <div is="parts-global-message" :state="messageState"></div>
    </div>

    {# Flash メッセージ #}
    {% include 'AppBundle::parts/flash-message.html.twig' %}

    <div id="setProductRequiredListTable">

      {#絞込フォーム#}
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-inline inlineBlock" role="form">
            <div class="form-group mr10">
              <input type="text" id="filterSyohinCode" class="form-control" v-model="filterSyohinCode" placeholder="商品コード">
            </div>

            <div class="form-group mr10">
              <input type="checkbox" id="filterCreatableOnly" class="checkbox checkboxLarge" v-model="filterCreatableOnly">
              <label for="filterCreatableOnly">作成可能のみ</label>
            </div>
          </form>
        </div>
      </div>

      {# pagination (Vue component) #}
      <div
        is="parts-table-pagination"
        :init-page-item-num="pageItemNum"
        :init-page-item-num-list="pageItemNumList"
        :item-num="totalItemNum"
        :page="page"
        v-on:change-page="showPage"
        >
        <button slot="left-part" class="btn btn-sm btn-primary" v-on:click="submitCheckProducts">チェックした商品を作成</button>
      </div>


      <table class="table table-bordered table-condensed">
        <tr>
          <th class="w50 text-center vMiddle">
            <input type="checkbox" class="checkbox checkboxLarge inlineBlock" v-model="allCheck">
          </th>
          <th class="w200">商品コード</th>
          <th>商品名</th>
          <th class="w100">横軸</th>
          <th class="w100">縦軸</th>
          <th class="w50">在庫設定</th>
          <th class="w50">フリー在庫</th>
          <th class="w50">不足数</th>
          <th class="w50">作成可能</th>
          <th class="w50">作成予定</th>
          <th class="w50">作成数</th>
        </tr>

        <tr v-for="item in pageData"
            is="result-item"
            :item="item"
          ></tr>

      </table>

    </div>
  </div>

  {# テーブル行テンプレート #}
  <script type="text/x-template" id="templateSetProductRequiredListTableRow">
    <tr class="text-center" v-bind:class="{ shadow: !creatable }">
      <td class="text-center vMiddle">
        <input type="checkbox" class="checkbox checkboxLarge inlineBlock" v-model="item.checked" v-bind:disabled="(!creatable) || (!item.createNum)">
      </td>
      <td v-text="item.setSku" class="text-left"></td>
      <td v-text="item.daihyoSyohinName" class="text-left"></td>
      <td v-text="item.colname" class="text-center"></td>
      <td v-text="item.rowname" class="text-center"></td>
      <td v-text="item.requiredStock" class="text-right"></td>
      <td v-text="item.setFreeStock" class="text-right"></td>
      <td v-text="item.shortNum" class="text-right"></td>
      <td v-text="item.creatableNum" class="text-right"></td>
      <td v-text="item.listNum" class="text-right"></td>
      <td v-text="item.createNum" class="text-right"></td>
    </tr>
  </script>

{% endblock %}
