{% extends 'AppBundle::base.html.twig' %}

{% block javascripts %}
  {% set useVue100 = true %}{# Vue.js 1.0 利用 #}
  {{ parent() }}
  {% javascripts '@AppBundle/Resources/public/js/app.sales-research-stockout.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}

  <div class="container container-large">

    <div class="clearfix" id="globalMessage" data-loading-image-url="{{ asset('img/loading.gif') }}">
      <div class="pull-left">
        <h2>Plusnao Web System (Sales)</h2>
      </div>

      <div class="pull-left">
        <div class="(% messageCssClass %)" v-text="message"></div>
      </div>

      <div class="pull-right">
        <button class="btn btn-lg btn-danger" v-on:click="closeWindow()">閉じる</button>
      </div>
    </div>

    <h2 class="page-header">欠品率 一覧表</h2>

    {% for type, flashMessages in app.session.flashbag.all() %}
      {% if type in ['info', 'success', 'notice', 'warning', 'danger'] %}
        <div>
          {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
              {{ flashMessage }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}

    <div class="row" id="functionBlock">
      <form role="form" action="{{ path('sales_research_vendor_stockout_list') }}" method="post" id="termForm">

        <div class="col-xs-8">

          <div class="row">
            <div class="col-xs-6 form-group">
              {{ form_widget(termForm.dateStart, {'attr': {'class': 'form-control', 'v-model': 'dateStart'} }) }}
            </div>
            <div class="col-xs-6 form-group">
              {{ form_widget(termForm.dateEnd, {'attr': {'class': 'form-control', 'v-model': 'dateEnd'} }) }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">

              <div class="form-group pull-left">
                <label class="btn btn-default inlineBlock mr5" v-on:click="moveDayRange('backward', -365)"><i class="fa fa-angle-double-left"></i></label>

                <label class="btn btn-default inlineBlock mr5" v-on:click="moveDayRange('backward')"><i class="fa fa-angle-left"></i></label>
                {{  form_widget(termForm.moveDays, {'attr': {'class': 'form-control inlineBlock midSmallInt', 'v-model': 'moveDays', 'number': true}}) }} 日
                <label class="btn btn-default inlineBlock mr5" v-on:click="moveDayRange('forward')"><i class="fa fa-angle-right"></i></label>

                <label class="btn btn-default inlineBlock mr5" v-on:click="moveDayRange('forward', 365)"><i class="fa fa-angle-double-right"></i></label>
              </div>

              <div class="form-group text-center pull-right">
                <label class="btn btn-sm btn-default mb5 mr5" v-on:click="selectOneDay">日</label>
                <label class="btn btn-sm btn-default mb5 mr5" v-on:click="selectOneWeek">週</label>
                <label class="btn btn-sm btn-default mb5 mr5" v-on:click="selectOneMonth">月</label>
                <label class="btn btn-sm btn-default mb5 mr5" v-on:click="selectOneYear">年</label>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-12 text-center">
              <button class="btn btn-success">期間を集計</button>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 text-left explain">
              ※集計は、キャンセル区分が「5:都合によりキャンセル」の伝票分、および明細行キャンセルされたすべての明細を「欠品」としています。
            </div>
          </div>
        </div>

        {{ form_rest(termForm) }}
      </form>
    </div>


    <script type="text/javascript">
      var vendorStockoutListTableData = {{ data | raw }};
    </script>

    {%  if dataCount %}
      <div class="main" id="vendorStockoutListTable" data-url="{{ path('api_home') }}">
        <table class="table table-bordered" >
          <thead>
          <tr>
            <th class="text-center sortable" v-on:click="switchSort('sireCode')">
              コード
              <i class="text-info" v-bind:class="sortMarks.sireCode"></i>
            </th>
            <th class="text-center sortable" v-on:click="switchSort('sireName')">
              仕入先名
              <i class="text-info" v-bind:class="sortMarks.sireName"></i>
            </th>
            <th class="text-center sortable" v-on:click="switchSort('itemCount')">
              <span title="販売中の「代表商品」数" data-toggle="tooltip">商品数</span>
              <i class="text-info" v-bind:class="sortMarks.itemCount"></i>
            </th>
            <th class="text-center sortable" v-on:click="switchSort('stockAmount')">
              <span title="フリー在庫の商品金額合計" data-toggle="tooltip">在庫金額</span>
              <i class="text-info" v-bind:class="sortMarks.stockAmount"></i>
            </th>
            <th class="text-center sortable" v-on:click="switchSort('estimatedStockCost')">
              <span title="販売中でフリー在庫が0の商品を、すべて1点ずつ在庫にした場合の仕入れ値合計" data-toggle="tooltip">仮仕入れコスト</span>
              <i class="text-info" v-bind:class="sortMarks.estimatedStockCost"></i>
            </th>
            <th class="text-center sortable" v-on:click="switchSort('profitNum')">
              明細数
              <i class="text-info" v-bind:class="sortMarks.profitNum"></i>
            </th>
            <th class="text-center sortable" v-on:click="switchSort('stockoutProfitNum')">
              欠品明細数
              <i class="text-info" v-bind:class="sortMarks.stockoutProfitNum"></i>
            </th>
            <th class="text-center sortable" v-on:click="switchSort('stockoutProfitRate')">
              欠品明細率(%)
              <i class="text-info" v-bind:class="sortMarks.stockoutProfitRate"></i>
            </th>
          </tr>

          </thead>

          <tbody>
          <tr is="result-item"
              v-for="item in list | orderBy sortField sortOrder"
              :item="item"
            ></tr>
          </tbody>
        </table>

      </div>
    {% endif %}

  </div>

  {# Vue.js コンポーネントテンプレート #}
  <script id="result-item" type="x-template">
    <tr>
      <td class="text-center">(% sireCode %)</td>
      <td>(% sireName %)</td>
      <td class="text-right">(% displayItemCount %)</td>
      <td class="text-right">(% displayStockAmount %)</td>
      <td class="text-right">(% displayEstimatedStockCost %)</td>

      <td class="text-right">(% displayProfitNum %)</td>
      <td class="text-right">(% displayStockoutProfitNum %)</td>
      <td class="text-right">(% displayStockoutProfitRate %)</td>
    </tr>
  </script>


{% endblock %}

