{% extends 'AppBundle::base-admin.html.twig' %}

{% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    'bundles/app/css/app.products.css' filter='cssrewrite'
    'bundles/app/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css' filter='cssrewrite'
  %}
    <link href="{{ asset_url }}" rel="stylesheet" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {% set useVue100 = true %}{# Vue.js 1.0 利用 #}
  {{ parent() }}

  {% javascripts
    '@AppBundle/Resources/public/js/app.unused-box-number-list.js'
    '@AppBundle/Resources/public/vendor/moment/moment-with-locales.min.js'
    '@AppBundle/Resources/public/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js'
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}
  <div id="missingAmazonImageList" class="container">

    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>未使用箱番号</h2>
        </div>
      </div>

      <div>
        <div v-bind:class="messageCssClass" v-text="message"></div>
      </div>
    </div>

    {% for type, flashMessages in app.session.flashbag.all() %}
      {% if type in ['info', 'success', 'notice', 'warning', 'danger'] %}
        <div>
          {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
              {{ flashMessage }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
    {# 検索フォーム #}
    <form method="post" id="searchForm" action="{{ path('unused_box_number_list') }}">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="clearfix">
            <div class="clearfix fullWidth">
              <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalChangeWarehouse">箱番号重複チェック</button>
            </div>

            <div class=" mr10 mb20">
            </div>

            <div class="input-group w100 pull-left mr10 mb5">
              <span class="input-group-addon">
                    箱番
                </span>
              <input type="text"  maxlength="1" name="number" class="form-control" id="dateStart" value="{{ conditions.number }}" placeholder="" />
            </div>
            <div class="input-group w150 pull-left mr10 mb5">
              <input type="number" name="start" class="form-control" id="dateStart" value="{{ conditions.start }}" placeholder="" />
            </div>
            <span class="input-group pull-left mr10 mb5" style="margin-top: 5px;">~</span>
            <div class="input-group date w150 pull-left mr10 mb5">
              <input type="number" name="end" class="form-control" id="dateEnd" value="{{ conditions.end }}" placeholder="" />
            </div>

            <div class="pull-left">
              <input type="submit" class="btn btn-success pull-right mr5" value="CSVダウンロード" v-on:click="submitForm">
            </div>
          </div>

        </div>
      </div>

    </form>
    {# 倉庫切り替え処理 #}
    <div class="modal"
         id="modalChangeWarehouse"
         tabindex="-1"
         data-backdrop="static" data-keyboard="false"
         data-duplicate-boxcode-list-url="{{ path('duplicate_box_code_list') }}"
    >

      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">
              箱番号重複チェック
            </h4>
          </div>

          <div class="modal-body">

            <div class="alert alert-info">
              重複になっている箱は以下です。
              調べて修正してください。
            </div>

            <div>
              <div class="loading" v-if="nowLoading">
                <img src="{{ asset('img/loading-large.gif') }}" />
              </div>
              <ul v-if="duplicateBoxcodes.length > 0 && !(nowLoading)">
                <li v-for="duplicateBoxcode in duplicateBoxcodes">
                  <span v-for="(boxcode, key) in duplicateBoxcode">
                    <span v-if="key != duplicateBoxcode.length - 1 "　v-text="boxcode.location_code + ' と'"></span>
                    <span v-if=" key == duplicateBoxcode.length - 1" v-text="boxcode.location_code" ></span>
                  </span>
                </li>
              </ul>
              <span v-if="duplicateBoxcodes.length == 0" style="margin-left: 200px;">箱番号重複がありません</span>
            </div>
          </div>

          <div class="modal-footer">
            <div class="row row10">
              <div>
                <button type="button" class="btn btn-lg btn-default fullWidth" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {# 商品一覧モーダル:新規追加 #}



  </div>

{% endblock %}

