{% extends 'AppBundle::base.html.twig' %}
 
{% block stylesheets %}
  {{ parent() }}
{% stylesheets
    'bundles/app/css/bootstrap.min.css' filter='cssrewrite'
    'bundles/app/css/app.admin.css' filter='cssrewrite'
    'bundles/app/css/app.sdmanage.css' filter='cssrewrite'
 %}
    <link href="{{ asset_url }}" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@AppBundle/Resources/public/js/app.sd-manage.js'
  %}

  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block title %}スーパーデリバリー商品情報管理画面-新規登録{% endblock %}
 
{% block body %}
{% include 'AppBundle:SdManage:_navbar.html.twig' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
      {% include 'AppBundle:SdManage:_sidebar.html.twig' %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">新規管理データ一覧</h1>
          <div><p class="text-warning lead">{{ message }}</p></div>
          <form name="registFlagForm" method="POST" class="form-group">
            <table class="table table-hover" style="table-layout:fixed;">
              <tr>
                <th style="width:20px;"><input type="checkbox" name="check_all" class="check_all"></th>
                <th style="width:150px;">代表商品コード</th>
                <th>商品タイトル</th>
                <th style="width:80px;">ジャンル</th>
                <th style="width:90px;">ターゲット</th>
                <th style="width:80px;">商品属性</th>
                <th style="width:80px;">編集</th>
              </tr>
              {% for list in tbsd %}
              <tr>
                <td><input type="checkbox" name="registFlag[]" value="{{ list.daihyoSyohinCode }}" class="check"></td>
                <td>{{ list.daihyoSyohinCode }}</td>
                <td>{{ list.SyohinTitle }}</td>
                <td>{{ list.genre }}</td>
                <td>{{ list.target }}</td>
                <td>{{ list.syohinZokusei }}</td>
                <td><a class="btn btn-success" href="{{ path('sdnew_edit', { 'dscode': list.daihyoSyohinCode }) }}">編集</a></td>
              </tr>
              {% endfor %}
            </table>
            <input type="submit" value="選択したデータを削除する" class="btn btn-danger">　<a href="{{ path('pltosd_impcsv') }}" class="btn btn-primary">登録用ファイル出力に戻る</a>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
