{% extends 'AppBundle::base-admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
  'bundles/app/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css' filter='cssrewrite'
  %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@AppBundle/Resources/public/vendor/moment/moment-with-locales.min.js'
    '@AppBundle/Resources/public/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js'
    '@AppBundle/Resources/public/js/app.setting-maintenance-schedule-list.js'
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}

{% block body %}

  <script type="text/javascript">
    const MAINTENANCE_TYPE_LIST = {{ maintenanceTypeList|raw }};
  </script>

  <div id="maintenanceScheduleList" class="container"
    data-url="{{ path('setting_maintenance_schedule_find') }}"
  >
    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>メンテナンススケジュール一覧</h2>
        </div>
      </div>
      {# global-message コンポーネント #}
      <div is="parts-global-message" :state="messageState"></div>
    </div>

    {# Flash メッセージ #}
    {% include 'AppBundle::parts/flash-message.html.twig' %}
    
    <ul class="mt10 mb10">
      <li>Yahoo 定期メンテナンススケジュールは、ストアクリエイターProの<a href="https://store-info.yahoo.co.jp/shopping/topics/mainte2022/01/220729-8.html" target="_blank">こちら</a>からご確認ください。</li>
    </ul>
    <div class="mt10 mb10">
      <button slot="left-part" class="btn btn-sm btn-primary mr10 mb5" v-on:click="showFormModal(null)">新規作成</button>
    
      <table class="table table-bordered table-condensed">
          <tr>
            <th class="w400">期間</th>
            <th class="w200">種別</th>
            <th>備考</th>
            <th class="w50">&nbsp;</th>
          </tr>
          <tr v-for="item in list"
              is="result-item"
              :item="item"
              v-on:show-edit-form="showFormModal"
          ></tr>
      </table>
    </div>
    <div is="setting-maintenance-schedule-form-modal"
         :state="modalState"
         v-on:update-item="updateItem"
      ></div>
  </div>

  {# テーブル行テンプレート #}
  <script type="text/x-template" id="templateMaintenanceScheduleListTableRow">
    <tr v-bind:class="rowCssClass">
      <td class="vMiddle"><span v-text="item.startDatetime"></span> ～ <span v-text="item.endDatetime"></span></td>
      <td class="vMiddle" v-text="maintenanceTypeList[item.maintenanceType]"></td>
      <td class="vMiddle" v-text="item.note"></td>
      
      <td class="text-center vMiddle">
        <div class="row row10">
          <div class="text-center vMiddle">
            <button type="button" class="btn btn-success btn-sm" v-on:click="showEditForm">
              <i class="fa fa-fw fa-pencil" style="font-size: 0.8em"></i>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </script>

  {# modals #}
  <script type="text/x-template" id="templateMaintenanceScheduleForm">
    <div class="modal"
         id="modalMaintenanceScheduleForm"
         tabindex="-1"
         data-save-url="{{ path('setting_maintenance_schedule_save') }}"
      >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" v-on:click="hideModal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label" v-text="caption"></h4>
          </div>

          <div class="modal-body">

            {# global-message コンポーネント #}
            <div is="parts-global-message" :state="messageState"></div>

            <div v-show="nowLoading" class="row">
              <div class="col-sm-12 text-center">
                <img src="{{ asset('img/loading.gif') }}" />
              </div>
            </div>

            <div id="modalMaintenanceScheduleFormBody" class="row" v-show="!nowLoading">
              <div class="col-xs-10 col-xs-offset-1">

                <form role="form">
                
                  <div class="form-group">
                    <label for="maintenanceDatetime">メンテナンス日時</label>
                    <div class="mb5 vMiddle" id="maintenanceDatetime">
                      <div class="input-group date inlineFlex w200 mr10 mb5">
                        <span class="input-group-addon w50">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <input id="start_datetime" v-model="item.startDatetime" class="form-control" size="10" type="text" placeholder="メンテナンス開始日時">
                      </div>
                      <div class="vMiddle inlineFlex">
                        ～
                      </div>
                      <div class="input-group date inlineFlex w200 mr10 mb5">
                        <span class="input-group-addon w50">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <input id="end_datetime" v-model="item.endDatetime" class="form-control" size="10" type="text" placeholder="メンテナンス終了日時">
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="maintenanceType">メンテナンス種別</label>
                    <select v-model="item.maintenanceType" id="maintenanceType" class="form-control">
                      <option v-for="option in maintenanceTypeOptions" v-bind:value="option.value" v-text="option.text">
                      </option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="note">備考</label>
                    <input type="text" id="note" v-model="item.note" class="form-control" />
                  </div>
                  
                  <div class="form-group">
                    <input type="checkbox" id="deleteFlg" v-model="item.deleteFlg" class="mr5" /><label for="deleteFlg">削除</label><br>
                  </div>
                </form>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-default" v-on:click="hideModal">閉じる</button>
            <button type="button" class="btn btn-lg btn-primary" v-on:click="save">保存</button>
          </div>
        </div>
      </div>
    </div>
  </script>


{% endblock %}