{% extends 'AppBundle::base.html.twig' %}

{% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
{% endblock %}

{% block javascripts %}
  {% set useVue200 = true %}{# Vue.js 2.0 利用 #}
  {{ parent() }}

  {% javascripts
    '@AppBundle/Resources/public/js/app.operation-score-picking-score-user-list.js'
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body -%}

<div class="container container-large">
  <div id="pickingScoreUserList">

    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>ユーザー毎のピッキングスコア</h2>
        </div>

        <div class="pull-right">
          <h4 class="text-right">
            <a class="btn btn-danger mb10 inlineBlock" onClick="window.close();">
              閉じる
            </a>
          </h4>
        </div>
      </div>

      <div id="globalMessage" data-loading-image-url="{{ asset('img/loading.gif') }}" v-show="message && message.length > 0">
        <div class="alert" v-bind:class="messageCssClass" v-text="message"></div>
      </div>
    </div>

    {% for type, flashMessages in app.session.flashbag.all() %}
      {% if type in ['info', 'success', 'notice', 'warning', 'danger'] %}
        <div>
          {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
              {{ flashMessage }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}

    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <div class="pull-left">
          ユーザー毎のピッキングスコア
          </div>
          <div class="pull-right">
          毎日18:00集計　　ピッキング間隔が{{ minSecond }}秒以下、 {{ maxSecond }}秒以上のものは集計対象外となります
          </div>
        </div>
        <div id="pickingScoreUserListTable"
             data-url="{{ path('picking_score_user_find') }}"
        >
          <table class="table table-striped table-bordered">
            <tr>
              <th rowspan="2" class="sortable col-xs-1 cursorPointer pt30">
                <p class="text-center text-nowrap" v-on:click="switchSortOrder('username')">ユーザー名
                  <i v-bind:class="sortClass.username"></i>
                </p>
              </th>
              <th colspan="3" class="text-center col-xs-3">SC箱</th>
              <th colspan="3" class="text-center col-xs-3">V箱</th>
              <th colspan="3" class="text-center col-xs-3">その他の箱</th>
            </tr>

            <tr>
              {# SC箱 #}
              <th class="sortable">
                <p class="text-center" v-on:click="switchSortOrder('firstColumnAverageTimeSC')">
                  (% firstColumnRecords %)
                  <i class="text-info" v-bind:class="sortClass.firstColumnAverageTimeSC"></i>
                </p>
              </th>
              <th class="sortable">
                <p class="text-center" v-on:click="switchSortOrder('secondColumnAverageTimeSC')">
                  (% secondColumnRecords %)
                  <i v-bind:class="sortClass.secondColumnAverageTimeSC"></i>
                </p>
              </th>
              <th class="sortable">
                <p class="text-center" v-on:click="switchSortOrder('thirdColumnAverageTimeSC')">
                  (% thirdColumnRecords %)
                  <i v-bind:class="sortClass.thirdColumnAverageTimeSC"></i>
                </p>
              </th>

              {# V箱 #}
              <th class="sortable">
                <p class="text-center" v-on:click="switchSortOrder('firstColumnAverageTimeV')">
                  (% firstColumnRecords %)
                  <i v-bind:class="sortClass.firstColumnAverageTimeV"></i>
                </p>
              </th>
              <th class="sortable">
                <p class="text-center" v-on:click="switchSortOrder('secondColumnAverageTimeV')">
                  (% secondColumnRecords %)
                  <i v-bind:class="sortClass.secondColumnAverageTimeV"></i>
                </p>
              </th>
              <th class="sortable">
                <p class="text-center" v-on:click="switchSortOrder('thirdColumnAverageTimeV')">
                  (% thirdColumnRecords %)
                  <i v-bind:class="sortClass.thirdColumnAverageTimeV"></i>
                </p>
              </th>

              {# その他の箱 #}
              <th class="sortable">
                <p class="text-center" v-on:click="switchSortOrder('firstColumnAverageTimeOthers')">
                  (% firstColumnRecords %)
                  <i v-bind:class="sortClass.firstColumnAverageTimeOthers"></i>
                </p>
              </th>
              <th class="sortable">
                <p class="text-center" v-on:click="switchSortOrder('secondColumnAverageTimeOthers')">
                  (% secondColumnRecords %)
                  <i v-bind:class="sortClass.secondColumnAverageTimeOthers"></i>
                </p>
              </th>
              <th class="sortable">
                <p class="text-center" v-on:click="switchSortOrder('thirdColumnAverageTimeOthers')">
                  (% thirdColumnRecords %)
                  <i v-bind:class="sortClass.thirdColumnAverageTimeOthers"></i>
                </p>
              </th>

            <tr v-for="row in displayList"
                is="result-item"
                :row="row"
                :key="row.username"
            ></tr>
          </table>
        </div>
      </div>
    </div>

  </div>

  {# テーブル行テンプレート #}
  <script type="text/x-template" id="templatePickingScoreUserListTableRow">
    <tr>
      <td class="text-center" v-text="username"></td>

      <td class="text-center text-nowrap" v-text="firstColumnAverageTimeSC"></td>
      <td class="text-center text-nowrap" v-text="secondColumnAverageTimeSC"></td>
      <td class="text-center text-nowrap" v-text="thirdColumnAverageTimeSC"></td>
      <td class="text-center text-nowrap" v-text="firstColumnAverageTimeV"></td>
      <td class="text-center text-nowrap" v-text="secondColumnAverageTimeV"></td>
      <td class="text-center text-nowrap" v-text="thirdColumnAverageTimeV"></td>
      <td class="text-center text-nowrap" v-text="firstColumnAverageTimeOthers"></td>
      <td class="text-center text-nowrap" v-text="secondColumnAverageTimeOthers"></td>
      <td class="text-center text-nowrap" v-text="thirdColumnAverageTimeOthers"></td>
    </tr>
  </script>
</div>
  {% endblock %}
