{% extends 'AppBundle::base-admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets
  'bundles/app/css/app.goods.css' filter='cssrewrite'
  %}
    <link href="{{ asset_url }}" rel="stylesheet" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {# pagination コンポーネント#}
  {% include 'AppBundle::parts/pagination.html.twig' %}

  {% javascripts
  '@AppBundle/Resources/public/js/app.goods-image-delete-files.js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}

  <div id="imageFilesList" class="container"
         data-folder-id="{{ folderId }}"
         data-url="{{ path('goods_image_files_find', { 'folderId': folderId }) }}"
         data-delete-url="{{ path('goods_image_files_delete') }}"
         >

    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>商品画像削除(※α版)</h2>
        </div>
      </div>

      {# global-message コンポーネント #}
      <div is="parts-global-message" :state="messageState"></div>
    </div>

    <div is="delete-confirm-modal"
         :state="modalState"
         :list="list"
         v-on:delete-selected-files="deleteSelectedFiles()"
      ></div>

    <div id="imageDeleteFilesListTable">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-inline inlineBlock">
            フォルダID: {{ folderId }}
          </div>
        </div>
      </div>


      <div class="pull-right mt8">
        <button type="button" class="btn btn-danger" data-toggle="modal" v-on:click="showFormModal()" v-bind:disabled="!canDelete">
          削除
        </button>
      </div>

      {# pagination (Vue component) #}
      <div
          is="parts-table-pagination"
          :page="searchParams.page"
          :init-page-item-num="searchParams.pageItemNum"
          :init-page-item-num-list="pageItemNumList"
          :item-num="totalItemNum"
          :related-page-item-num="searchParams.pageItemNum"
          v-on:change-page="showPage"
      ></div>

      <table class="table table-bordered table-condensed">
        <tr>
          <th class="vMiddle text-center"><input type="checkbox" v-model="allChecked" @change="allCheckClicked" /></th>
          <th class="vMiddle text-center">画像ID</th>
          <th class="vMiddle text-center">画像名</th>
          <th class="vMiddle text-center">画像保存先</th>
          <th class="vMiddle text-center">画像</th>
          <th class="vMiddle text-center">ファイル名</th>
          <th class="vMiddle text-center">画像アクセス日</th>
          <th class="vMiddle text-center">ステータス</th>
        </tr>
        <tr v-for="item in list" v-bind:class="item.cssClass">
          <td class="vMiddle text-center"><input type="checkbox" v-show="!item.ExistsOnDb" v-model="item.checked" /></td>
          <td class="vMiddle text-center" v-text="item.FileId"></td>
          <td class="vMiddle text-center" v-text="item.FileName"></td>
          <td class="vMiddle text-center" v-text="item.FileUrl"></td>
          <td class="vMiddle text-center"><img v-bind:src="item.FileUrl" class="w100"></td>
          <td class="vMiddle text-center" v-text="item.FilePath"></td>
          <td class="vMiddle text-center" v-text="item.FileAccessDate"></td>
          <td class="vMiddle text-center" v-text="item.ExistsOnDb ? '使用中' : '未使用'"></td>
        </tr>
      </table>

      <div class="pull-right mt8">
        <button type="button" class="btn btn-danger" data-toggle="modal" v-on:click="showFormModal()" v-bind:disabled="!canDelete">
          削除
        </button>
      </div>

      {# pagination (Vue component) #}
      <div
          is="parts-table-pagination"
          :page="searchParams.page"
          :init-page-item-num="searchParams.pageItemNum"
          :init-page-item-num-list="pageItemNumList"
          :item-num="totalItemNum"
          :related-page-item-num="searchParams.pageItemNum"
          v-on:change-page="showPage"
      ></div>

    </div>
  </div>

  {# modal #}
  <script type="text/x-template" id="templateModalDeleteConfirm">
    <div class="modal"
         id="modalDeleteConfirm"
         tabindex="-1"
         data-backdrop="static" data-keyboard="false"
      >

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">
              (% caption %)
            </h4>
          </div>

          <div class="modal-body">

            {# global-message コンポーネント #}
            <div is="parts-global-message" :state="messageState"></div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">閉じる</button>
            <button type="button" class="btn btn-lg btn-primary" v-on:click="save()">はい</button>
          </div>
        </div>
      </div>
    </div>
  </script>

{% endblock %}
