{% extends 'AppBundle::base-admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
   {% stylesheets
   'bundles/app/vendor/bootstrap-select/css/bootstrap-select.min.css' filter='cssrewrite'
  %}
  <link href="{{ asset_url }}" rel="stylesheet" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {% set useVue200 = true %}{# Vue.js 2.x 利用 #}
  {{ parent() }}

  {% javascripts
  '@AppBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
  '@AppBundle/Resources/public/js/clipboard.min.js'

  '@AppBundle/Resources/public/js/app.concierge-uncombined-order-list.js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}

  <div class="container" id="conciergeUncombinedOrderList">

    <div id="header">
      <div class="clearfix">
        <div class="pull-left">
          <h2>未同梱受注 一覧</h2>
        </div>
      </div>

      {#&#123;&#35; global-message コンポーネント &#35;&#125;#}
      {#<div is="parts-global-message" :state="messageState"></div>#}
    </div>

    {# Flash メッセージ #}
    {% include 'AppBundle::parts/flash-message.html.twig' %}

    <div id="conciergeUncombinedOrderListTable">

      {# 絞込フォーム #}
      <div class="panel panel-default">
        <div class="panel-body">
          <form id="conciergeUncombinedOrderListSearchForm" class="form-inline inlineBlock" role="form" action="{{ path('concierge_uncombined_order_list') }}" method="get">
            <div class="form-group mr5 mb5">
              {#<select id="filterShopNeIds" name="shop" class="selectpicker" title="店舗" &#123;&#35;multiple data-actions-box="true" data-select-all-text="全選択" data-deselect-all-text="全解除"&#35;&#125; v-on:change="submitSearchForm">#}
              <select id="filterShopNeIds" name="shop" class="form-control" title="店舗" v-on:change="submitSearchForm">
                <option value=""></option>
                {% for id, name in selectShopNames %}
                  <option value="{{ id }}"{% if conditions.shop and conditions.shop == id %} selected{% endif %}>{{ name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group mr5 mb5">
              <label for="filterReadyOnly">
                <input class="checkbox" id="filterReadyOnly" type="checkbox" name="ready" value="1"
                     {% if conditions.readyOnly and conditions.readyOnly == "1" %} checked{% endif %}
                     v-on:click="submitSearchForm">
                「納品書印刷待ち」のみ抽出
              </label>
            </div>

            <div class="form-group mr5 mb5">
              <input type="submit" value="絞込" class="btn btn-success">
            </div>

          </form>
        </div>
      </div>

      {#&#123;&#35; pagination (Vue component) &#35;&#125;#}
      {#<div#}
        {#is="parts-table-pagination"#}
        {#:init-page-item-num="pageItemNum"#}
        {#:init-page-item-num-list="pageItemNumList"#}
        {#:item-num="totalItemNum"#}
        {#:page="page"#}
        {#v-on:change-page="showPage"#}
        {#></div>#}

      <table class="table table-bordered" >
        <thead>
          <tr>
            <th>送り先名</th>
            <th>送り先住所</th>
            <th>同梱件数</th>
            <th>伝票番号</th>
          </tr>
        </thead>

        <tbody>
        {% if data|length > 0 %}
          {% for i,row in data %}
            <tr>
              <td>{{ row['送り先名'] }}</td>
              <td>{{ row['送り先住所'] }}</td>
              <td class="text-right">{{ row['同梱件数'] }}</td>
              <td>
                {% for j,number in row['伝票番号'] %}
                  <div class="input-group mb5">
                    <span class="input-group-btn">
                      <button class="btn btnCopyVoucherNumber" type="button"
                          v-bind:class="getCopyButtonClickedCss({{ number.number }})" v-on:click="copyClicked({{ number.number }})"
                          data-clipboard-target="#copyVoucherNumber_{{ i }}_{{ j }}">コピー</button>
                    </span>
                    <input type="text" class="form-control" value="{{ number.number }}" id="copyVoucherNumber_{{ i }}_{{ j }}" readonly style="background-color: #fff;">
                    <span class="input-group-addon">{{ number.shop }}</span>
                  </div>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4" class="text-center">データがありません。</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>

  </div>


{% endblock %}

